.recipeCardTwo{
    width: 550px;
    height: 410px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.15);
    background-color: white;
    margin-bottom: 20px;
}
.mainImage > img {
    width: 440px;
    height: 278px;
    margin: 3px;
    border-radius: 15px;
    object-fit: cover;
}
.galleryImages img {
    width: 117px;
    height: 90px;
    border-radius: 15px;
    object-fit: cover;
}
.galleryImages img:first-of-type{
    margin-top: 3px;
}